.skill-page {
  text-align: center;
  padding: 6.5em 40px;
  background: #17152a;
  color: white;
  padding-bottom: 12em;
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px 60px;
  justify-items: center;
  padding: 20px;
  width: 60%;
  margin: 2em auto;
  margin-bottom: 6rem;
}
@media screen and (min-width:1800px) {
  .skills-grid{
    width:1050px;
  }
}
@media screen and (min-width:1000px) and (max-width:1200px) {
  .skills-grid{
    gap: 15px 45px;
    width:700px;
  }
}
@media screen and (max-width:1000px) {
  .skills-grid{
    gap: 10px 30px;
    width: 80%;
    margin-bottom: 5em;
  }
  .left-heading {
    font-size: 2rem;
    margin: 30px 0px 0px 30px;
  }
}
@media screen and (max-width:500px) {
  .skills-grid{
    gap: 10px 15px;
    width: 95%;
    margin-top: 0.5em;
    margin-bottom: 4em;
  }
  .left-heading {
    font-size: 1.5rem;
    margin: 10px 0px 0px 30px;
  }
}

/* Dev Tools Section */
 .dev-tools-container {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}
.dev-tools-row {
  display: flex;
  gap: 20px;
  padding: 5px;
  width: max-content;
  white-space: nowrap;
  margin:auto;

}

.stock-ticker {
  font-size: 5.5rem;
  padding-block: 5px;
  overflow: hidden;
  border-block: 1px solid;
  user-select: none;
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 30px;

  --gap: 10px;
  gap: var(--gap);
}
.stock-ticker ul{
  list-style: none;
  flex-shrink: 0;
  padding-left: 110px;
  min-width: 100%;
  display: flex;
  margin: 10px 0px;
  justify-content: space-between;
  gap: var(--gap);
  animation: scroll 15s linear infinite;
}
/* .stock-ticker:hover ul {
  animation-play-state: paused;
} */
@keyframes scroll {
  to {
      transform: translateX(calc(-100% - var(--gap)));
  }
}


@media screen and (min-width:2100px) {
  #second-half{
    display: none;
  }
  .stock-ticker{
    border-block: 0px;

    & > ul{
      padding: 0px;
      width: max-content;
      animation: none;
    }
  }
}

@media screen and (min-width:600px) and (max-width:1100px) {
  .stock-ticker{
    font-size: 4rem;
    --gap: 5px;
  }
  .stock-ticker ul{
    padding-left: 90px;
  }
}

@media screen and (max-width:600px) {
  .stock-ticker{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
    --gap: 3px;
  }
  .stock-ticker ul{
    padding-left: 50px;
  }
}